body{
    background-color: #dceaea;
}
hr{
    background-color: white;
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;
    width: 40px;
}
h1,h3{
    color: #66bfbf;
}